Package: libnemo-normalize-dbgsym
Package-Type: ddeb
Source: libnemo-normalize
Version: 0.1.0
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Brian West <brian@bkw.org>
Installed-Size: 925
Depends: libnemo-normalize (= 0.1.0)
Section: debug
Priority: optional
Description: debug symbols for libnemo-normalize
Build-Ids: 94e84962504ea7a0373d767984f2e723332b551e
